/* Articles */
.main-article img {
  max-width: 100%;
  max-height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 30px;
  /* width: 100%; */
  /* vertical-align: middle; */
}

.secondary-article img {
  max-width: 100%;
  height: 350px;
}

#authenticate {
  background: #fff;
}

body {
  background-image: url('https://digi-gallery.s3-us-west-1.amazonaws.com/theme/background-top.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: 0%;
  background-size: auto 100%;

  font-family: 'Raleway', sans-serif;

  margin: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

#header-logo {
  background: rgba(0, 0, 0, 0.5);
}

nav {
  background: linear-gradient(180deg, #333, #000);
}

#notFound {
  background: #fff;
}
